
.bg-fact2{
    background-image: url(../public/fabrica2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.bg-fact3{
    background-image: url(../public/fabrica3.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;

}
.fade-in-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

