.f-color1{
  background-color: #F9E6C4;
}
.f-color2{
    background-color: #E2C9A8;
}
.fade-in-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}