node_modules/
.DS_Store
*.log

# Videos y archivos de edicion pesados duplicados del comic
public/Comic-ecyda/escenarios/escena pasillo/after/*.mp4
public/Comic-ecyda/escenarios/escena pasillo/after/Teaser final carpeta/
public/Comic-ecyda/escenarios/**/*.ai
public/Comic-ecyda/escenarios/**/*.aep