.img1{
    left: 20%;
    top: -10%;
}
.img2{
    right: 19%;
    top: 60%;
}
.tex{
    height: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
}
.tarjetas{
    width: 100%;
    height: 45vh;
    background-color: antiquewhite;
   
}
.cuadro{
    width: 100%;
    background-image: url(./Recurso\ 5.png);
    background-position: center;
}
.categoria{
     width: 15%;
     height: 5vh;
    background-color: #139600;
}
.ban{
    position: relative;
    z-index: 1;
}
.algunos{
    font-size: 1.1rem;
}